input{
    width:100%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
	background-color: #0000002b;
	color: #ffb900a6;
    transition:.3s;
}
  
input:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}

:root{
    --white: #f9f9f9;
    --nav-black: #000000ad;
    --grey: #85888C;
	--orange: #ff990078;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
}

html {
  font-family: cursive;
  margin: auto;
  max-width: 105ch;
  padding: 1em 0.5em;
  font-size: 1.3em;
  line-height: 1.75em;
  color: var(--orange);
}

img {
  width: 100%;
}

/* Optional 100 more bytes */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--orange);
  margin: 3em 0 1em;
}

p,
ul,
ol {
  color: var(--orange);
  margin-bottom: 2em;
}


.header-img-left{
    float: left;
    position: relative;
    margin: 10px 15px 5px 10px;
	height: 4em;
	width: 4em;
	border-radius: 4em;
    opacity: .9;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Header */
.header{
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
	height: 5em;
	display: flex;
	z-index: 1;
}

.box-shadow {
	box-shadow: 1px 1px 5px 0px var(--grey);
}

/* Logo */
.header-image-container{
    display: inline-block;
    color: var(--white);
    margin-left: 10px;
}
