.admin-key {
	float: right;
	position: relative;
	width: 100%;
	padding: 1.3em 2.5em 1em 2.5em;
	text-align: center;
}

.auth {
	display: flex;
	width: 100%
}

.settings-storage {
	width: 50%;
}
.select-dropdown {
	position: relative;
	border-radius: 4px;
	display: flex;
	padding: 0.5em;
	align-items: baseline;
}
.select-dropdown select {
	padding: 8px 8px 8px 10px;
}
.select-dropdown select:active, .select-dropdown select:focus {
	outline: none;
	box-shadow: none;
}

.storage-space-left {
	margin: .5em 1em 1em 1em;
}

.storage-space-units {
	width: 50%;
    color: var(--orange);;
    background-color: var(--nav-black);
}


.server-settings {
	display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
	max-width: 100%;
    margin: auto;
}

.settings-auth,
.settings-bitcoin,
.settings-data-path,
.settings-storage,
.settings-peers {
	position: relative;
	width: 20rem;
	max-width: 100%;
	scroll-snap-align: start;
}

.settings-content {
	padding: .8rem;
}

.settings-bitcoin::before {
	content: "";
	background-image: url('/images/compass.jpg');
    opacity: .65;
    z-index: -1;
    height: 100%;
	width: 100%;
    background-size: 100% 100%;
	position: absolute;
	box-shadow: inset 0px 0px 50px 20px black;
}

.settings-storage::before {    
	content: "";
	background-image: url('/images/machine.jpg');
    opacity: .65;
    z-index: -1;
    height: 100%;
	width: 100%;
    background-size: 100% 100%;
	position: absolute;
	box-shadow: inset 0px 0px 50px 20px black;
}

.settings-peers::before {
	content: "";
	background-image: url('/images/lattice.jpg');
    opacity: .65;
    z-index: -1;
    height: 100%;
	width: 100%;
    background-size: 100% 100%;
	position: absolute;
	box-shadow: inset 0px 0px 50px 20px black;
}

.settings-auth::before {
	content: "";
	background-image: url('/images/key.jpg');
    opacity: .65;
    z-index: -1;
    height: 100%;
	width: 100%;
    background-size: 100% 100%;
	position: absolute;
	box-shadow: inset 0px 0px 50px 20px black;
}

.settings-data-path::before {
	content: "";
	background-image: url('/images/rabbithole.jpg');
    opacity: .65;
    z-index: -1;
    height: 100%;
	width: 100%;
    background-size: 100% 100%;
	position: absolute;
	box-shadow: inset 0px 0px 50px 20px black;
}

.expand-settings {
	width: 100%;
	margin:0;
	display:flex;
	align-items:center;
	justify-content: center;
	background-color: transparent;
    height: 4rem;
}


.gear {
  display: inline-block;
  position: relative;
  margin: calc(var(--icon_size)/5);
  width: var(--icon_size);
  height: var(--icon_size);
  background: var(--nav-black);
  border-radius: 50%;
  border: calc(var(--icon_size)/3.5) solid gray;
  box-sizing: border-box;
}

.gear:before,
.gear:after {
    content: '×';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "times new roman";
    font-weight: bold;
    font-size: calc(var(--icon_size)*2.5);
    color: gray;
}

.gear:after {
	transform: translate(-50%,-50%) rotate(45deg);
}
